$card-color: rgb(255, 255, 255);
$text-color: rgb(0, 0, 0);
$blue-additional: rgb(45, 134, 200);
$gray: rgb(176, 177, 179);
$red: rgb(196, 36, 31);
$card-background-color: $blue-additional;
$input-border-active: $blue-additional;
$empty-layout-body-color: rgb(171, 171, 179);
