@using Scalesoft.Localization.AspNetCore
@model Ridics.Authentication.Service.Models.ViewModel.ClaimTypes.ClaimTypeViewModel
@inject ILocalizationService Localizer

@{
    ViewData["Title"] = Localizer.Translate("update-claim-type-title");
}

<h2>@Localizer.Translate("update-claim-type-heading")</h2>
<div class="lead">@Model.Name</div>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-id="@Model.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedType" class="control-label"></label>
                <select asp-for="SelectedType" asp-items="Model.AllTypeValues?.Select(x => new SelectListItem(x.Name, x.Id.ToString()))" class="form-control"> </select>
                <span asp-validation-for="SelectedType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer.Translate("save")" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<partial name="_BackButton" />

