@using Ridics.Authentication.Core.Configuration
@using Scalesoft.Localization.AspNetCore;
@inject ILocalizationService Localizer
@inject ReturnUrlConfiguration ReturnUrlConfiguration

@{
    ViewData["Title"] = Localizer.Translate("password-reset-success-title", "ResetPasswordViewModel");
    Layout = "_EmptyLayout";
}

@section Styles
    {
    <link rel="stylesheet" href="~/css/ridics.login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/node_modules/@("@")fortawesome/fontawesome-free/css/all.css" asp-append-version="true">
}
<div class="card shadow">
    <div class="card-header">
        <h2>@Localizer.Translate("reset-password-heading", "ResetPasswordViewModel")</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                @Localizer.Translate("reset-password", "ResetPasswordViewModel")
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <a href="@ReturnUrlConfiguration.LoginUrlForClient" class="btn btn-primary float-right">@Localizer.Translate("login")</a>
            </div>
        </div>

    </div>

</div>
