@using Scalesoft.Localization.AspNetCore
@model Ridics.Authentication.Service.Models.ViewModel.Secrets.EditableSecretViewModel
@inject ILocalizationService Localizer

@{
    ViewData["Title"] = Localizer.Translate("add-secret-title");
}

<h2>@Localizer.Translate("add-secret-heading")</h2>

<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddSecret">
            <input asp-for="ApiResourceId" type="hidden"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control"/>
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expiration" class="control-label"></label>
                <input asp-for="Expiration" class="form-control"/>
                <span asp-validation-for="Expiration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer.Translate("add-secret")" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<partial name="_BackButton" />
